{% extends 'base.html' %}

{% block content %}
    <h1>Home Page</h1>
    <div class="row">
        {% for food in foods %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ food.image.url }}" class="card-img-top" alt="{{ food.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ food.name }}</h5>
                        <p class="card-text">{{ food.description }}</p>
                        <p class="card-text">{{ food.price }} so'm</p>
                        <a href="{% url 'food_detail' food.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}